name: Publish Docker Image

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  validate:
    name: Formatting text
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get golang
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - run: go version

      - name: Formatting
        run: go fmt ./...

      - name: Login in Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and Push docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/myapp:latest
